@import "grid";

.left-side {
    img {
        width: 100%;
        height: auto;
    }
}

.right-side {
    a {
      text-decoration: none;   
    }

    a:hover {
      color: color-grey-dark;
      font-weight: 700;
    }
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
}

li {
    list-style-type: square;
    padding-right: 15px;
    
}

li a {
    display: block;
    text-align: left;
    text-decoration: none;
}

li a:hover {
    color: color-grey-dark;
    font-weight: 700;
    list-style-type: square;
    
}

.social {
    li{
        float: left;
        list-style-type: none;
    }
}