@import "grid";

.left-side {
    img {
        width: 100%;
        height: auto;
    }
}

.right-side {
    // margin: 50px 20px 50px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
}

li {
    float: left;
    padding: 10px;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}